<div class="container">
    <form action="">
        <div class="mb-3">
            <label for="searchMovie" class="form-label">
                Search for Movie
            </label>
            <input type="text" class="form-control" name="searchMovie"/>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <p>Searching for {{searchTerm}}</p>
        {% for movie in movies %}
                <h2>{{movie.title}}</h2>
                <p>{{movie.description}}</p>
                <p>Rating: {{movie.rating}}</p>
                <p>Release Date: {{movie.release_date}}</p>
                <p>Director: {{movie.director}}</p>
                <p>Genre: {{movie.genre}}</p>
                <img src="{{movie.poster_image}}" alt="Poster for {{movie.title}}" class="img-fluid"/>
                {% if movie.url %}
                    <p><a href="{{movie.url}}" target="_blank">Movie Link</a></p>
                {% endif %}
        {% endfor %}
</div>